<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about Page</h1>
    <%- include("./partials/Nav") %>
        <!-- condition -->
        <% if(age > 18){ %>
            <h2>
                <%=name%> is eligible to Vote
            </h2>
        <% } %>

        <!-- array Methods -->
        <h1>
            <% foods.map((element) => {%>
                <li>
                    <%=element %>
                </li>
            <%}) %>
        </h1>

     <!-- <%- include("./partials/Nav") %> -->

</body>
</html>